body {
    background-color: whitesmoke;
}

header {
    background: white;
}

img {
    max-width: 100%;
}

/* HEADER LOGO - CARRITO */

.logo-carrito {
    padding: 15px 0 0 0;
}

.logo {
    min-width: 130px;
}

.carrito {
    margin-top: 20px;
    padding-bottom: 15px;
}

.carrito .carrito-items {
    display: none;
}

.carrito-icono {
    position: relative;
    min-width: 30px;
}

@media (max-width: 549px) {
    .logo-carrito {
        display: flex;
        justify-content: space-between;
    }

    .carrito-icono {
        width: 30px;
    }

    .logo {
        width: 150px;
    }

    .carrito {
        width: 40px;
    }
}

.carrito:hover .carrito-items {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 2;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    animation: articulosCarrito 0.3s ease;
}

@keyframes articulosCarrito {
    0% {
        top: 80%;
        opacity: 0;
    }

    100% {
        top: 100%;
        opacity: 1;
    }
}

/* BANNER HERO */

.filter-parent {
    position: relative;
}

.filter-parent::after {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    backdrop-filter: brightness(75%);
}

.banner {
    background-image: url(../img/pokemon.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.contenido-banner {
    margin-top: 60px;
}

.contenido-banner p,
.contenido-banner h2 {
    color: rgb(13, 240, 89);
    font-weight: bold;
}

.contenido-banner form {
    position: relative;
    margin-bottom: 0;
    z-index: 1;
}

.contenido-banner form #buscador {
    height: 60px;
    width: 100%;
}

.contenido-banner form .submit-buscador {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 5px;
    background-image: url(../img/lupa.png);
    height: 50px;
    width: 50px;
    text-indent: -99px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
}

/* BARRA */

#section {
    background-image: linear-gradient(to top, #dadee7 0%, #f0f3f6 100%);
}

.barra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon p {
    display: block;
    margin: 0 0 0 10px;
    font-size: 25px;
}

.icon img {
    min-width: 40px;
}

/* MAIN */

main {
    flex: 1;
}

.contenido {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.249);
    border-radius: 4px;
}

.info-card {
    padding: 10px;
}

.info-card p {
    margin: 5px 0
}

.card img {
    height: 200px;
}

.card div {
    padding: 5px;
    text-align: center;
}

/* FOOTER */

.footer {
    text-align: center;
    height: 80px;
    background-image: linear-gradient(to top, #dadee7 0%, #f0f3f6 100%)
}

.parent-text-footer p {
    line-height: 80px;
    margin: 0;
    font-size: large;
    font-family: sans-serif;
}