html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
header {
    background: white;
}
img {
    max-width: 100%;
}

/* HEADER LOGO - CARRITO */

.logo-carrito {
    padding: 15px 0 0 0;
}
.logo {
    min-width: 150px;
}
.carrito {
    margin-top: 20px;
    padding-bottom: 23px;
}
.carrito .carrito-items {
    display: none;
}
.carrito-icono {
    position: relative;
    min-width: 30px;
}

@media (max-width: 549px) {
    .logo-carrito {
        display: flex;
        justify-content: space-between;    
    }
    .carrito-icono {
        width: 30px;
    }
    .logo {
        width: 150px;
    }
    .carrito {
        width: 40px;
    }
}

.carrito:hover .carrito-items {
    display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    animation: articulosCarrito 0.3s ease;
}

@keyframes articulosCarrito {
    0% {
        top: 80%;
        opacity: 0;
    }
    100% {
        top: 100%;
        opacity: 1;
    }
}

/* BANNER HERO */

.banner {
    background-image: url(../img/pokemon.jpg);
    height: 350px;
    background-size: cover;
    background-position: center;
}

.contenido-banner {
    margin-top: 60px;
}

.contenido-banner p, .contenido-banner h2 {
    color: white;
    font-weight: bold;
}

.contenido-banner form {
    position: relative;
    margin-bottom: 0;
}

.contenido-banner form #buscador {
    height: 60px;
    width: 100%;
}

.contenido-banner form .submit-buscador {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 5px;
    background-image: url(../img/lupa.png);
    height: 50px;
    width: 50px;
    text-indent: -99px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border:none;
}

