html {
    font-size: 62.5%;
}
body {
    background-color: #f5f3f3
}
header {
    background: white;
}
img {
    max-width: 100%;
}

/* HEADER LOGO - CARRITO */

.logo-carrito {
    padding: 15px 0 0 0;
}
.carrito {
    margin-top: 20px;
    padding-bottom: 23px;
}
.carrito .carrito-items {
    display: none;
}
.carrito-icono {
    position: relative;
}
.carrito:hover .carrito-items {
    display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
    animation: articulosCarrito 0.3s ease;
}

@keyframes articulosCarrito {
    0% {
        top: 80%;
        opacity: 0;
    }
    100% {
        top: 100%;
        opacity: 1;
    }
}